<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stimednp.kadesubmission5">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_soccer_svgrepo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_soccer_svgrepo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.stimednp.kadesubmission5.ui.favoritesdb.FavoritesActivity"></activity>
        <activity android:name="com.stimednp.kadesubmission5.ui.search.SearchActivity" />
        <activity android:name="com.stimednp.kadesubmission5.ui.detailevents.DetailsEventActivity" />
        <activity android:name="com.stimednp.kadesubmission5.ui.detailleagues.DetailsLeaguesActivity" />
        <activity android:name="com.stimednp.kadesubmission5.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>